<!-- This page will show all store information existing in the database -->

<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<main class="container pb-5 mb-5">

  <h1><%= title %></h1>
  <a href="/store-list/add" class="btn btn-primary my-2">Add New Store</a>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <% for (let count=0; count<storesList.length; count++){%>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title><%=storesList[count].storeName %></title>
              <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Store <%= count+1 %></text>
            </svg>

            <div class="card-body">
              <p class="card-text"><%=storesList[count].about %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-dark" href="/store-list/edit/<%= storesList[count]._id %>">View</a>
                  <a class="btn btn-sm btn-outline-secondary" href="/store-list/delete/<%= storesList[count]._id %>">Delete</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%}%>
        
      </div>
    </div>
  </div>

</main>

<%- include ../partials/footer.ejs %>